/*INFO 

COLORS:
Orange: #ff8c3f;
Light blue: #005287;
Dark blue: #013046;
Green/blue: #8DBAC1;
Grey: #f2f2f2; 

FONTS
font-family: 'Cinzel', serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
*/


.indexphotos {
    background-image: url(pictures/backgrounddragon.jpg);
    text-align: left;
    margin: 0 auto;     
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; 
}

body {
    background-color: #062331;
    margin: 0; 
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    letter-spacing: 0.02em;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

header {
    overflow: hidden; 
    position: fixed; 
    top: 0;
    width: 100%;
    margin: 0; 
}

p {
    color: #f2f2f2;
}

/*INTRO INDEX*/
.intrologo {
    display: block;  
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.intrologomedia {
    display: none;
}

.introcontainer {
    margin-top: 20em;
    background-color: rgba(255,255,255, 0.4);
    text-align: center; 
    padding-top: 20px;
}

.intro {
    font-family: 'Quicksand', sans-serif; 
    margin: auto;
    font-size: 25px;
    font-weight: 100;
}
.introcontainer a {
    padding: 10px 40px 10px 40px; 
    display: inline-block; 
    background-color: #005287; 
    margin-bottom: 20px;
    margin-top: 10px; 
    text-decoration: none;
    border: 3px solid white;
    border-radius: 20px; 
    color: #ff8c3f;
}

.introcontainer a:hover {
    background-color: #013046;
}

/* HEADINGS & PARAGRAPHS */
.columns {
    line-height: 1.5em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 40px;
    margin-top: 0px;
    color: #f2f2f2;
}

h2 {
    letter-spacing: 3px;
    font-size: 35px;
}

h3 {
    letter-spacing: 3px;
    font-size: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
}

h4 {
    letter-spacing: 3px;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 10px;
}

h5 {
    letter-spacing: 4px;
    font-size: 25px;
    color: #ff8c3f;
    background-color: #013046;
    padding: 10px;
    border: 2px solid #ff8c3f;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    
}

h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}

/*NAV*/
nav {
    float: center; 
    margin: 0 auto; 
}

nav a {
    padding: 8px 15px 8px 15px; 
    display: inline-block;
    margin-top: 1.0em; 
    margin-right: 0.8%;
    margin-left: 1.5%;
    font-family: 'Quicksand', sans-serif; 
    font-size: 25px;
    text-decoration: none;
    color: #ff8c3f;
    border: 2px solid white;
    border-radius: 10px; 
    letter-spacing: 0.1em;
    text-align: center;
    
}

nav a:hover {
    background-color: #005287;
}

header {
    background-color: #013046;
    padding-bottom: 24px; 
    border-bottom: 2px solid white; 
}

.logo {
    float: left; 
    display: block;
    margin-top: 0.7em;; 
    margin-left: 12%;
    width: 18%;
}

.active {
    padding: 8px 15px 8px 15px; 
    display: inline-block;
    margin-top: 1.0em; 
    margin-right: 0.8%;
    margin-left: 1.5%;
    font-family: 'Quicksand', sans-serif; 
    font-size: 25px;
    text-decoration: none;
    color: #062331;
    border: 2px solid white;
    border-radius: 10px; 
    letter-spacing: 0.1em;
    text-align: center;
    background-color: #8DBAC1;
    font-weight: bold;
}

.active:hover {
    background-color: #e7e5e5; 
}

/* LINKS */
.links {
    color: white; 
    text-decoration: none;
}

.links:hover {
    text-decoration: underline; 
}

/*.readmore {
    padding: 8px 15px 8px 15px; 
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    text-decoration: none;
    color: #ff8c3f;
    border: 2px solid white;
    border-radius: 10px; 
    letter-spacing: 0.1em;
    text-align: center;
    background-color: #013046;
}

.readmore:hover {
    background-color: #005287;
    color: #ff8c3f;
}

*/
.toplink {
    color: white; 
    text-decoration: none;
    text-align: center; 
    display: block;
    font-size: 25px;
    letter-spacing: 2px;
}

.toplink:hover {
    text-decoration: underline; 
}

.linkslaunch {
    color: white; 
    text-decoration: none;
    margin-right: 33px;
    margin-bottom: 15px;
    display: inline-block;
}

.linkslaunch:hover {
    text-decoration: underline; 
}

/* SPACEX SITE */
.mainpicture {
    width: 100%;
    border-top: 1px solid white; 
    border-bottom: 1px solid white; 
}

.mainpicturetop {
    margin-top: 100px;
    width: 100%; 
    border-bottom: 1px solid white; 
}

.maintext {
    font-size: 24px;
    letter-spacing: 0.09em;
}
.containerspaceX {
    display: flex;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-size: contain;
}

.maincol1 {
    flex: 2;
    color: white;
    border-radius: 20px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10px;
    margin-top: 20px;
}

.maincol2 {
    flex: 1;
    color: white;
    border-radius: 10px;
    text-align: left;
    margin-top: 20px;
    border: 3px solid #8DBAC1;
    padding: 10px 0 10px 15px;
    margin-bottom: 30px;
    height: 100%;
    background-color: #013046;
}

.col1info {
    flex: 2;
    color: white;
    border-radius: 20px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

.col2info {
    flex: 1;
    color: white;
    border: 3px solid #8DBAC1; 
    border-radius: 10px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 5%;
    padding-top: 10px;
    height: 100%;
    background-color: #013046;
}

.col3info {
    flex: 2;
    color: white;
    border-radius: 20px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}
.col4info {
    flex: 2;
    color: white;
    border-radius: 20px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}


.subscribeColumn {
    flex: 1;
    color: white;
    border-radius: 20px;
    padding: 0 10px;
    margin-bottom: 10px;
    border: 3px solid #8DBAC1;
    width: 100%;
    margin-top: 30px;
    background-color: #013046;
    padding-bottom: 10px;
}

.subscribe {
    font-size: 22px;
    margin-top: 18px;
    letter-spacing: 1.9px;
}

label[class="subscribelabel"] {
    width: 90px;
    font-size: 22px;
    letter-spacing: 4px;
}

input[class="subscribemail"] {
    width: 54%;
    margin-right: 2%;
    font-size: 22px;
}

li {
    padding: 12px; 
}

#quickfactToggle {
    display: none; 
}

.falconpic {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 18px;
}

button {
    padding: 8px 15px 8px 15px; 
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    text-decoration: none;
    color: #ff8c3f;
    border: 2px solid white;
    border-radius: 10px; 
    letter-spacing: 0.1em;
    text-align: center;
    background-color: #013046;
}

button:hover {
    background-color: #005287;
    cursor: pointer;
}

/* ROCKETS & DRAGON SITE */
.rocketcontainer {
    margin-bottom: 50px;
}

.rocketimages {
    width: 90%;
    border: 2px solid white; 
    border-radius: 10px
}

.col1Rockets {
    flex: 2;
    color: white;
    border-radius: 20px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

.col2Rockets {
    flex: 2;
    color: white;
    border-radius: 20px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-right: 400px;
    margin-left: 10px;
}

.falconfamily {
    float: right; 
    width: 32%;
    margin-left: 30px;
    margin-right: 50px;
    border: 2px solid white;
    border-radius: 10px;
}

.columnsRocket {
    line-height: 28px;
    margin-bottom: 30px;
}

.dragonpicture {
    float: right; 
    width: 46%;
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 10px;
}

.dragonpicturemobile { 
    width: 100%;
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 10px;
    display: none;
}

/* LAUNCHES */
.launchcontainer {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.containerupcominglaunches {
    display: flex;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-size: contain;
}

.collaunches {
    flex: 2;
    color: white;
    border-radius: 20px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-left: 10px; 
}

.launchlinks { 
    margin: 0 auto; 
}

.launchlinks a {
    padding: 8px 15px 8px 15px; 
    display: inline-block; 
    margin-right: 3%;
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    text-decoration: none;
    color: #ff8c3f;
    border: 2px solid white;
    border-radius: 10px; 
    letter-spacing: 0.1em;
    text-align: center;
    background-color: #013046;
}

.launchlinksbottom a:hover {
    background-color: #005287;
}

.launchlinksbottom { 
    margin: 0 auto; 
    text-align: center;
    margin-bottom: 20px;
}

.launchlinksbottom a {
    padding: 8px 20px 8px 20px; 
    display: inline-block; 
    margin-right: 2%;
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    text-decoration: none;
    color: #ff8c3f;
    border: 2px solid white;
    border-radius: 10px; 
    letter-spacing: 0.1em;
    text-align: center;
    background-color: #013046;
}

.launchlinks a:hover {
    background-color: #005287;
}

.launchpicture {
    float: right; 
    width: 46%;
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 10px;
}

/* CONTACT FORM */
label {
    display: inline-block;
    font-size: 20px; 
    padding: 0;
    width: 43%; 
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 1%;
}

input {
    width: 53%;; 
    padding: 5px;
    border-style: solid; 
    border-color: #34515E;
    border-width: medium;
    border-radius: 10px; 
}

textarea {
    width: 100%; 
    height: 200px;
    padding: 5px;
    border-style: solid; 
    border-color: #34515E;
    border-width: medium;
    border-radius: 10px; 
    margin-top: 10px;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
}

input[type="submit"] {
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    text-decoration: none;
    color: #ff8c3f;
    border: 2px solid white;
    border-radius: 10px; 
    letter-spacing: 0.1em;
    text-align: center;
    background-color: #013046;
    margin-top: 15px;
    width: 150px;
}

input[type="submit"]:hover {
    background-color: #005287; 
    cursor: pointer;
}

.error {
    font-size: 20px; 
    color: #ff8c3f;
    display: none;
}

/* CONTACT PAGE */
.col1contact {
    flex: 2;
    color: white;
    border-radius: 20px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}
.col2contact {
    flex: 2;
    color: white;
    border: 2px solid white; 
    border-radius: 10px;
    text-align: left;
    padding: 0 15px 15px; 15px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 5%;
    height: 100%;
}

.contactcolumn {
    margin: 2px 0 8px 0;
}

iframe {
    width: 100%;
    height: 300px;
}



/* FOOTER */
.containerfooter {
    display: flex;
    margin-top: 20px;
    background-size: contain;
    border-top: 2px solid white; 
    background-color: #013046;
}

.footerleft{
    flex: 1;
    color: white;  
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    padding-top: 30px; 
}

.footermiddle{
    flex: 9;
    color: white;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 30px;
}

.footerright{
    flex: 1;
    color: white;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: right; 
}
.footerlinks {
    display: block;
    color: white; 
    text-decoration: none; 
    letter-spacing: 2px;
}

.footerlinks:hover {
    text-decoration: underline; 
}

.footermobile {
    display: none;
}


/* RESPONSIVE DESKTOP */
@media only screen and (max-width: 1440px) {
    nav a {
        padding: 10px;
        font-size: 20px;
        margin-right: 5px;
    }
    
    .active {
        padding: 10px;
        font-size: 20px;
        margin-right: 5px;
    }
    
    
    .col2info {
        flex: 2;
    }
}

@media only screen and (max-width: 1224px) {
    nav a {
        padding: 10px;
        font-size: 16px;
        margin-right: 5px;
    }
    
    .active {
        padding: 10px;
        font-size: 16px;
        margin-right: 5px;
    }
    
    .col2info {
        flex: 2;
    }
}


/* TABLET*/
@media only screen and (max-width: 960px) {
    .indexphotos {
        background-image: url(pictures/backgrounddragonMEDIAQ.jpg);
        text-align: left;
        margin: 0 auto;     
        background-attachment: fixed;
    }
    .intrologo {
        display: none;
    }
    .intrologomedia {
        display: inline-block;
        width: 90%;
        float: right;
        margin-bottom: 20px;
    }
    
    .introcontainer {
        background-color: rgba(255,255,255, 0.5);
    }
    
    .containerspaceX {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
    nav a {
        padding: 10px 12px 10px 12px; 
        font-size: 20px;
        margin-top: 20px;
        margin-right: 1%;
    }
    
    .links {
        text-decoration: underline;
        font-size: 22px;
    }
    .active {
        padding: 10px 12px 10px 12px; 
        font-size: 20px;
        margin-top: 20px;
        margin-right: 1%;
    }
    
    .logo {
        width: 70%;
        margin-left: 17%;
        margin-right: 10%;
        margin-top: 2%;
    }
    
    header {
        padding-bottom: 15px;
        position: absolute; 
    }
    .mainpicturetop {
        margin-top: 26%;
    }
    
    h3 {
        margin: 20px 0;
    }
    
    .falconfamily {
        margin-right: 0;
        margin-left: 18px;
        width: 40%;
    }
    .col2contact {
        margin-left: 3%;
    }
    
    .col1Rockets {
        margin: 0;
        padding: 0;
        font-size: 22px;
    }
    .col2Rockets {
        margin: 0;
        padding: 0;
        font-size: 22px;
    }
    
    .subscribe {
        font-size: 24px;
    }

    label[class="subscribelabel"] {
        width: 90px;
        font-size: 24px;
        letter-spacing: 4px;
    }

    input[class="subscribemail"] {
        width: 54%;
        margin-right: 2%;
        font-size: 30px;
    }
    
    
    h2 {
        margin-top: 0;
    }
    
    .rocketimages {
        width: 100%;
    }
    
    .dragonpicture {
        width: 45%;
        margin-left: 20px;
        margin-right: 22px;
        margin-bottom: 15px;
    }
    .columns {
        font-size: 22px;
    }
    p {
        font-size: 22px;
    }
    .maincol1 {
        margin-right: 0;
        margin-left: 0;
    }
    .maincol2 {
        margin-left: 10px;
        margin-right: 0;
    }
    
    .col1info {
        margin-right: 0;
        margin-left: 0;
    }
    .col2info {
        margin-right: 0;
        margin-left: 13%;
        width: 70%;
    }
    .col3info {
        margin-right: 0;
        margin-left: 0;
    }
    .col4info {
        margin-right: 0;
        margin-left: 0;
    }
    
    
    ul {
        font-size: 22px;
    }
    .containerupcominglaunches {
        margin-left: 10px;
        margin-right: 20px;
    }
    .launchcontainer {
        font-size: 25px;
        width: 100%;
        margin-right: 20px; 
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .nextlaunch {
        margin: 0px; 
        width: 100%; 
    }
    .collaunches {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-right: 0;
    }
    .launchlinksbottom a {
        font-size: 25px; 
    }
    .launchlinks a {
        font-size: 24px;
        margin-bottom: 12px;
    }
    label {
        font-size: 22px;
    }
    input[type="submit"] {
        padding: 15px 25px 15px 25px; 
        font-size: 24px;
    }
    
    input[class="submitSub"] {
        padding: 8px 5px 6px 5px;
        font-size: 24px;
    }
    
    .col1contact {
        margin: 0;
        padding: 0;
    }
    .col2contact {
        margin: 20px 0 20px 0;
        border: 0px;
        padding: 0;
    }
    textarea {
        width: 97%;
    }
    .footerlinks {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footermiddle {
        flex: 2;
        padding-top: 18px;
    }
    .footermobile {
        display: none;
    }
}

/* PHONE */
@media only screen and (max-width: 600px) {
    .indexphotos {
        background-image: url(pictures/indexmobile.jpg);
        text-align: left;
        margin: 0 auto;     
        background-attachment: fixed;
    }
    .mainpicturetop {
        margin-top: 173px;
        height: 120px;
    }
    .mainpicture {
        height: 120px;
    }
    .logo {
        margin-bottom: 5px;
    }
    nav {
        text-align: center;
    }
    nav a {
        font-size: 15px;
        margin-top: 10px;
        stroke: 1px solid white; 
        font-weight: bold;
    }
    .active {
        font-size: 15px; 
        margin-top: 10px;
    }
    h1 {
        font-size: 26px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 18px;
        margin: 8px 0;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 20px;
        padding: 6px;
    }
    h6 {
        font-size: 18px;
    }
    header {
        border: 1px solid white; 
        padding-bottom: 10px;
    }
    ul {
        font-size: 16px;
    }
    li {
        padding-top: 5px;
    }
    .links {
        font-size: 16px;
    }
    .readmore {
        font-size: 16px;
        padding: 5px 10px 5px 10px;;
    }
    .containerspaceX {
        margin-top: 0px;
    }
    .maincol1, .maincol2, .col1info, .col3info, .col4info {
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    .col2info{
        padding-top: 10px;
        width: 90%;
        margin-left: 4px;
    }
    button {
        padding: 5px 20px 5px 20px;
        font-size: 18px;
    }
    .maincol2 {
        padding: 10px;
    }
    
    .subscribeColumn {
        margin: 0;
    }
    
    .subscribe {
        font-size: 20px;
    }
    
    label[class="subscribelabel"] {
        font-size: 20px;
    }

    input[class="subscribemail"] {
        width: 58%;
        font-size: 20px;
    }
    
    .subscribeColumn {
        width: 90%;
    }
    
    .maintext {
        font-size: 18px;
    }
    .apiInfo {
        font-size: 18px;
    }
    .columns {
        font-size: 16px;
    }
    .containerupcominglaunches {
        margin: 0;
    }
    
    .launchcontainer {
        font-size: 25px;
        width: 100%;
        margin-right: 20px; 
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .collaunches {
        margin: 0 10px 0 10px;
        padding: 0;
    }
    .column {
        font-size: 16px;
    }
    .columnsRocket {
        font-size: 16px;
        margin-top: 10px;
        line-height: 25px;
    }
    .rocketcontainer {
        margin-bottom: 30px;
    }
    .rocketimages {
        width: 99%;
    }
    .linkslaunch {
        font-size: 16px;
        text-decoration: underline;
        margin-right: 20px;
    }
    .launchlinksbottom a {
        font-size: 18px;
        margin-top: 15px;
    }
    .launchlinks a {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .dragonpicturemobile {
        display: block;
        margin: 10px 0 10px 0;
    }
    .dragonpicture {
        margin: 0 0 0 10px;
    }
    .launchpicture {
        display: none;
    }
    .falconfamily {
        margin-left: 7px;
    }
    p {
        font-size: 16px;
    }
    label {
        font-size: 19px;
    }
    textarea {
        font-size: 16px;
    }
    input[type="submit"] {
        padding: 5px 5px 5px 5px; 
        font-size: 22px;
    }
    
    input[class="submitSub"] {

        font-size: 21px;
    }
    .toplink {
        text-decoration: underline;
    }
    .footerlinks  {
        font-size: 14px; 
    }
    .footerleft {
        display: inline-block;
        padding-right: 15px; 
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footerright {
        margin-bottom: 0;
    }
    .footermiddle {
        display: none; 
    }
    .footermobile {
        text-align: center;
        margin: ;
        background-color: #013046;
        display: block;
    }
    .columnsfooter {
        margin: 0; 
        font-size: 15px;
        padding: 10px;
        padding-bottom: 15px;
    }
    .containerfooter {
        margin-top: 10px;
    }
}